# Arquivos do Laravel ---
api/vendor/
api/node_modules/
api/npm-debug.log
api/yarn-error.log

# Laravel 4 specific
api/bootstrap/compiled.php
api/app/storage/

# Laravel 5 & Lumen specific
api/public/storage
api/public/hot

# Laravel 5 & Lumen specific with changed public path
api/public_html/storage
api/public_html/hot

api/storage/*.key
api/.env
api/Homestead.yaml
api/Homestead.json
api/.vagrant
api/.phpunit.result.cache

api/public/build
api/storage/pail
api/.env.backup
api/.env.production
api/.phpactor.json
api/auth.json

#----

#React ---
client/node_modules
client/.pnp
client/.pnp.js

# testing
client/coverage

# production
client/build

# misc
client/.DS_Store
client/.env.local
client/.env.development.local
client/.env.test.local
client/.env.production.local

client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*

# ----

# Arquivos de log e cache
*.log
*.cache
*.lock
.idea/
.vscode/

# Arquivos específicos do sistema operacional
Thumbs.db